body {
  margin: 0;
  padding: 0;
  text-align: center;
}


* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=file] {
  width: 50%;
  padding: 15px;
  margin: 10px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=type]:focus {
  background-color: #ddd;
  outline: saddlebrown;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.createNFTBtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
  opacity: 0.9;
}

.createNFTBtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

footer {
  height: auto;
}

nav {
    width: 100%;
    text-align: center;
  }

nav ul{
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  nav ul li{
    width: 20%;
    float: left;
    display: block;    
  }

  nav ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 8px 0;
    display: block;
    width: 100%;
    background-color: rgb(230, 215, 173);
  }

  nav ul li a:hover {
    background-color: rgb(252, 234, 184);
  }